<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update grid-lists/grid-list-9`
-->

<div class="max-w-7xl mx-auto">
  <div class="flex items-center justify-between flex-wrap space-y-2">
    <div class="flex items-center space-x-2">
      <h3 class="text-base font-medium text-gray-900 dark:text-white">
        Workspaces
      </h3>
      <span
        class="inline-flex size-6 items-center justify-center rounded-full bg-gray-100 text-sm leading-6 text-gray-900 dark:bg-gray-800 dark:text-white"
      >
        {{ workspaces.length }}
      </span>
    </div>
    <div class="flex items-center space-x-4">
      <mat-button-toggle-group [(value)]="viewMode">
        <mat-button-toggle value="grid">
          <mat-icon>grid_view</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="list">
          <mat-icon>format_list_bulleted</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div class="hidden h-8 w-px bg-outline-variant sm:block"></div>
      <button matButton="filled" class="hidden whitespace-nowrap sm:block">
        Add workspace
      </button>
    </div>
  </div>

  <mat-divider class="my-4! border-outline-variant!" />

  @switch (viewMode) { @case ('grid') {
  <div class="mt-6 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    @for (workspace of workspaces; track workspace.name) {
    <mat-card appearance="outlined" class="relative overflow-hidden p-0!">
      <mat-card-header>
        <div
          class="border-b border-outline-variant bg-surface-container-low p-6 flex-1 -m-4"
        >
          <div class="flex items-center space-x-3">
            <span
              class="flex size-12 shrink-0 items-center justify-center rounded-sm border border-outline-variant bg-surface"
            >
              <mat-icon
                class="size-5 text-gray-600 dark:text-gray-400"
                aria-hidden="true"
                >{{ workspace.icon }}</mat-icon
              >
            </span>
            <h3 class="text-base font-medium text-gray-900 dark:text-white">
              <a [href]="workspace.href" class="focus:outline-none">
                <!-- Extend link to entire card -->
                <span class="absolute inset-0" aria-hidden="true"></span>
                {{ workspace.name }}
              </a>
            </h3>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-list class="density-3 mt-4!">
          @for ( item of workspace.details; track item.type; let isLast = $last
          ) {
          <mat-list-item>
            <span matListItemTitle>{{ item.type }}</span>
            <span matListItemMeta>
              @if (item.value === 'Live') {
              <mat-chip
                class="!bg-emerald-100 text-emerald-800 ring-1 ring-inset ring-emerald-600/10 dark:!bg-emerald-400/20 dark:text-emerald-500 dark:ring-emerald-400/20"
              >
                {{ item.value }}
              </mat-chip>
              } @else if (item.value === 'Inactive') {
              <mat-chip
                class="!bg-gray-100 text-gray-700 ring-1 ring-inset ring-gray-600/10 dark:!bg-gray-500/30 dark:text-gray-300 dark:ring-gray-400/20"
              >
                {{ item.value }}
              </mat-chip>
              } @else {
              <span class="font-medium text-gray-900 dark:text-white">
                {{ item.value }}
              </span>
              }
            </span>
          </mat-list-item>
          @if (!isLast) {
          <mat-divider class="border-outline-variant!" />
          } }
        </mat-list>
      </mat-card-content>
    </mat-card>
    }
  </div>
  } @case ('list') {
  <div class="overflow-auto">
    <table mat-table [dataSource]="workspaces" class="w-full">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-gray-900 dark:text-white"
        >
          Name
        </th>
        <td
          mat-cell
          *matCellDef="let workspace"
          class="font-medium text-gray-900 dark:text-white"
        >
          {{ workspace.name }}
        </td>
      </ng-container>

      <!-- Storage Column -->
      <ng-container matColumnDef="storage">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-gray-900 dark:text-white"
        >
          Storage
        </th>
        <td mat-cell *matCellDef="let workspace">
          {{ workspace.details[0].value }}
        </td>
      </ng-container>

      <!-- Users Column -->
      <ng-container matColumnDef="users">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-gray-900 dark:text-white"
        >
          Users
        </th>
        <td mat-cell *matCellDef="let workspace">
          {{ workspace.details[1].value }}
        </td>
      </ng-container>

      <!-- Requests Column -->
      <ng-container matColumnDef="requests">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-gray-900 dark:text-white"
        >
          Requests/Limit
        </th>
        <td mat-cell *matCellDef="let workspace">
          {{ workspace.details[2].value }}
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-gray-900 dark:text-white"
        >
          Status
        </th>
        <td mat-cell *matCellDef="let workspace">
          @if (workspace.details[3].value === 'Live') {
          <span
            class="inline-flex items-center rounded-sm bg-emerald-100 px-2 py-0.5 text-xs font-medium text-emerald-800 ring-1 ring-inset ring-emerald-600/10 dark:bg-emerald-400/10 dark:text-emerald-500 dark:ring-emerald-400/20"
          >
            {{ workspace.details[3].value }}
          </span>
          } @else if (workspace.details[3].value === 'Inactive') {
          <span
            class="inline-flex items-center rounded-sm bg-surface-container-low px-2 py-0.5 text-xs font-medium text-gray-700 ring-1 ring-inset ring-outline-variant dark:bg-gray-800 dark:text-gray-400 dark:ring-gray-700"
          >
            {{ workspace.details[3].value }}
          </span>
          } @else {
          <span class="font-medium text-gray-900 dark:text-white">
            {{ workspace.details[3].value }}
          </span>
          }
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <span class="sr-only">Edit</span>
        </th>
        <td mat-cell *matCellDef="let workspace" class="text-right">
          <a matButton class="density-3" [href]="workspace.href">
            Edit<span class="sr-only">{{ workspace.name }}</span>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="hover:bg-surface-container-low! hover:dark:bg-gray-800!"
      ></tr>
    </table>
  </div>
  } }
</div>
