/*
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update authentication/login-with-email-03`
*/

@use '@angular/material' as mat;

.github-button {
  border: 1px solid var(--mat-sys-outline-variant);
  @include mat.theme-overrides(
    (
      primary: #ffffff,
      on-primary: #09090b,
    )
  );
}

.gitlab-button {
  @include mat.theme-overrides(
    (
      primary: rgb(147, 51, 234),
      on-primary: #ffffff,
    )
  );
}

.bitbucket-button {
  @include mat.theme-overrides(
    (
      primary: oklab(0.546093 -0.0266517 -0.213514 / 0.9),
      on-primary: #ffffff,
    )
  );
}
