<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update pricing-sections/pricing-section-7`
-->

<div class="relative isolate bg-surface px-6 py-24 sm:py-32 lg:px-8">
  <!-- Background decoration -->
  <div
    class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl"
    aria-hidden="true"
  >
    <div
      class="mx-auto aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-primary to-secondary opacity-20"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "
    ></div>
  </div>

  <!-- Header -->
  <div class="mx-auto max-w-4xl text-center">
    <h2 class="text-base font-semibold leading-7 text-primary">
      Plans & Pricing
    </h2>
    <p class="mt-2 text-5xl font-semibold tracking-tight sm:text-6xl">
      Find the perfect plan for your needs
    </p>
  </div>
  <p
    class="mx-auto mt-6 max-w-2xl text-center text-lg font-medium text-gray-600 dark:text-gray-400 sm:text-xl"
  >
    Select from our flexible pricing options designed to scale with your
    business and maximize your growth potential.
  </p>

  <!-- Pricing cards -->
  <div
    class="mx-auto mt-16 grid max-w-lg grid-cols-1 items-center gap-y-6 sm:mt-20 lg:max-w-4xl lg:grid-cols-2"
  >
    @for (tier of tiers; track tier.id) {
    <mat-card [class]="getCardClasses(tier, $index)">
      <mat-card-content>
        <h3 class="text-base font-semibold leading-7 text-primary">
          {{ tier.name }}
        </h3>
        <p class="mt-4 flex items-baseline gap-x-2">
          <span class="text-5xl font-semibold tracking-tight">
            {{ tier.priceMonthly }}
          </span>
          <span class="text-base text-gray-600 dark:text-gray-400">/month</span>
        </p>
        <p class="mt-6 text-base leading-7 text-gray-600 dark:text-gray-400">
          {{ tier.description }}
        </p>

        <mat-list class="mt-8 sm:mt-10">
          @for (feature of tier.features; track feature) {
          <mat-list-item>
            <mat-icon matListItemIcon class="text-primary!"
              >check_circle</mat-icon
            >
            <span
              matListItemTitle
              class="text-sm leading-6 text-gray-600 dark:text-gray-400"
              >{{ feature }}</span
            >
          </mat-list-item>
          }
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <a [href]="tier.href" matButton="filled" class="w-full">
          Get started today
        </a>
      </mat-card-actions>
    </mat-card>
    }
  </div>
</div>
