<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update kpi-cards/kpi-card-23`
-->

<div class="sm:mx-auto sm:max-w-2xl">
  <h3 class="text-sm">Total revenue</h3>
  <p class="text-3xl font-semibold">$485,200</p>
  <h4 class="mt-4 text-sm">Revenue channel distribution</h4>
  <div class="mt-4">
    <ngm-dev-block-ui-category-bar
      [values]="[42.5, 28.8, 18.2, 10.5]"
      [colors]="['blue', 'amber', 'cyan', 'gray']"
      [showLabels]="false"
    >
    </ngm-dev-block-ui-category-bar>
  </div>
  <div class="mt-8 grid grid-cols-1 gap-4 sm:grid-cols-2">
    @for (item of data; track item.channel) {
    <mat-card class="group" appearance="outlined">
      <mat-card-content>
        <div class="flex items-center space-x-2">
          <span
            [class]="item.color"
            class="size-2.5 rounded-sm"
            aria-hidden="true"
          >
          </span>
          <div class="text-sm">
            <a [href]="item.href" class="focus:outline-none">
              <span class="absolute inset-0" aria-hidden="true"></span>
              {{ item.channel }}
            </a>
          </div>
        </div>
        <div class="mt-1 text-sm">
          <span class="font-semibold">{{ item.share }}%</span> &#8729; {{
          item.revenue }}
        </div>
        <span
          class="pointer-events-none absolute right-2 top-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-600 group-hover:dark:text-gray-500"
          aria-hidden="true"
        >
          <mat-icon class="text-base! leading-none! size-[1em]!"
            >north_east</mat-icon
          >
        </span>
      </mat-card-content>
    </mat-card>
    }
  </div>
</div>
