<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update page-shells/page-shell-2`
-->

<div class="p-4 sm:p-6 lg:p-8">
  <header>
    <div class="sm:flex sm:items-center sm:justify-between">
      <h3 class="text-xl font-semibold">Report</h3>
      <div class="mt-4 sm:mt-0 sm:flex sm:items-center sm:gap-2">
        <mat-form-field class="w-full sm:w-fit">
          <mat-select
            [value]="selectedTimeRange()"
            (valueChange)="selectedTimeRange.set($event)"
            disableRipple
          >
            @for (timeRange of timeRanges; track timeRange.value) {
            <mat-option [value]="timeRange.value"
              >{{ timeRange.viewValue }}</mat-option
            >
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="mt-2 sm:mt-0 w-full sm:w-fit">
          <mat-select
            [value]="selectedLocation()"
            (valueChange)="selectedLocation.set($event)"
            disableRipple
          >
            @for (location of locations; track location.value) {
            <mat-option [value]="location.value"
              >{{ location.viewValue }}</mat-option
            >
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </header>
  <mat-divider />
  <mat-card appearance="outlined" class="p-0 mt-4">
    <div
      class="grid-cols-12 divide-y divide-gray-200 dark:divide-gray-700 md:grid md:divide-x md:divide-y-0"
    >
      <div
        class="divide-y divide-gray-200 px-2 dark:divide-gray-700 md:col-span-4"
      >
        <div class="h-28 py-2">
          <ngm-dev-block-content-placeholder-shell2 patternId="pattern-1" />
        </div>
        <div class="h-28 py-2">
          <ngm-dev-block-content-placeholder-shell2 patternId="pattern-2" />
        </div>
        <div class="h-28 py-2">
          <ngm-dev-block-content-placeholder-shell2 patternId="pattern-3" />
        </div>
      </div>
      <div class="h-56 p-2 md:col-span-8 md:h-auto">
        <ngm-dev-block-content-placeholder-shell2 patternId="pattern-4" />
      </div>
    </div>
  </mat-card>
  <div class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2">
    <mat-card appearance="outlined" class="p-0">
      <div class="border-b border-gray-200 px-4 py-2 dark:border-gray-700">
        <h3 class="text-base font-medium">Title</h3>
      </div>
      <div class="h-60 p-2">
        <ngm-dev-block-content-placeholder-shell2 patternId="pattern-5" />
      </div>
    </mat-card>
    <mat-card appearance="outlined" class="p-0">
      <div class="border-b border-gray-200 px-4 py-2 dark:border-gray-700">
        <h3 class="text-base font-medium">Title</h3>
      </div>
      <div class="h-60 p-2">
        <ngm-dev-block-content-placeholder-shell2 patternId="pattern-6" />
      </div>
    </mat-card>
    <mat-card appearance="outlined" class="p-0">
      <div class="border-b border-gray-200 px-4 py-2 dark:border-gray-700">
        <h3 class="text-base font-medium">Title</h3>
      </div>
      <div class="h-60 p-2">
        <ngm-dev-block-content-placeholder-shell2 patternId="pattern-7" />
      </div>
    </mat-card>
    <mat-card appearance="outlined" class="p-0">
      <div class="border-b border-gray-200 px-4 py-2 dark:border-gray-700">
        <h3 class="text-base font-medium">Title</h3>
      </div>
      <div class="h-60 p-2">
        <ngm-dev-block-content-placeholder-shell2 patternId="pattern-8" />
      </div>
    </mat-card>
  </div>
</div>
