<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update stacked-layouts/nav-on-gray-background`
-->

<mat-sidenav-container class="min-h-screen md:min-h-auto">
  @if (isHandset$ | async) {
  <mat-sidenav #drawer mode="over">
    <mat-toolbar class="border-b border-outline-variant">
      <img
        class="size-8"
        src="https://ui.angular-material.dev/app-ui/logo.svg"
        alt="Your Company"
      />
      <button mat-icon-button (click)="toggleMenu()" class="ml-auto">
        <mat-icon matListItemIcon>menu_opened</mat-icon>
      </button>
    </mat-toolbar>
    <mat-list>
      @for (item of navigation; track item) {
      <a
        mat-list-item
        routerLink="."
        [fragment]="item.href"
        [activated]="item.current"
        [attr.aria-current]="item.current ? 'page' : undefined"
        [class]="
              'relative before:content-[\' \'] before:absolute before:top-1/2 before:-translate-y-1/2 before:left-0 before:w-[4px] before:h-10 before:rounded-e-[3px] before:transition-colors' +
              (item.current
                ? ' before:bg-primary bg-[color-mix(in_srgb,_var(--mat-sys-primary)_10%,_transparent)]!'
                : ' before:bg-transparent hover:before:bg-outline-variant')
            "
      >
        {{ item.name }}
      </a>
      }
      <mat-divider />
      <div mat-subheader>
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img
              [src]="user.imageUrl"
              alt=""
              class="size-10 rounded-full object-cover"
            />
          </div>
          <div class="ml-3">
            <div class="text-base font-medium">{{ user.name }}</div>
            <div class="text-sm font-medium text-gray-600 dark:text-gray-400">
              {{ user.email }}
            </div>
          </div>
          <button mat-icon-button class="ml-auto">
            <mat-icon>notifications</mat-icon>
          </button>
        </div>
      </div>
      @for (item of userNavigation; track item) {
      <a mat-list-item routerLink="." [fragment]="item.href">
        {{ item.name }}
      </a>
      }
    </mat-list>
  </mat-sidenav>
  }

  <mat-sidenav-content class="bg-gray-100 dark:bg-gray-900">
    <mat-toolbar class="px-0! md:h-auto! border-b border-outline-variant">
      <div
        class="flex-1 w-full max-w-7xl mx-auto flex items-center px-4 sm:px-6 lg:px-8"
      >
        <img
          class="size-8"
          src="https://ui.angular-material.dev/app-ui/logo.svg"
          alt="Your Company"
        />
        @if ((isHandset$ | async) === false) {
        <div class="ml-10">
          <div class="flex items-baseline space-x-4">
            @for (item of navigation; track item) {
            <a
              [href]="item.href"
              [class]="
                    cx(
                      'h-[56px] md:h-[68px] relative text-label-large font-label-large flex items-center px-3 after:content-[\' \'] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[3px] after:rounded-t-[3px] after:transition-colors',
                      item.current
                        ? 'after:bg-primary'
                        : 'after:bg-transparent hover:after:bg-outline-variant'
                    )
                  "
              [attr.aria-current]="item.current ? 'page' : undefined"
            >
              {{ item.name }}
            </a>
            }
          </div>
        </div>
        <div class="flex items-center gap-2 ml-auto">
          <button mat-icon-button aria-label="View notifications">
            <mat-icon>notifications</mat-icon>
          </button>
          <button
            mat-icon-button
            [matMenuTriggerFor]="userMenu"
            aria-label="User menu"
            class="p-1!"
          >
            <img
              [src]="user.imageUrl"
              alt=""
              class="size-8! rounded-full object-cover"
            />
          </button>
        </div>
        } @if (isHandset$ | async) {
        <button mat-icon-button (click)="toggleMenu()" class="ml-auto">
          <mat-icon>menu</mat-icon>
        </button>
        }
      </div>
    </mat-toolbar>

    <mat-menu #userMenu="matMenu">
      @for (item of userNavigation; track item) {
      <a mat-menu-item routerLink="." [fragment]="item.href">
        {{ item.name }}
      </a>
      }
    </mat-menu>

    <header>
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-headline-large font-bold tracking-tight">Dashboard</h1>
      </div>
    </header>

    <main>
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <ngm-dev-block-content-placeholder-nav-on-gray-background />
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
