/*
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update tables/avatars-multi-line-table`
*/

@use '@angular/material' as mat;

:host {
  @include mat.table-overrides(
    (
      row-item-container-height: 64px,
    )
  );
  @include mat.chips-overrides(
    (
      label-text-font: var(--mat-sys-body-small-font),
      label-text-line-height: var(--mat-sys-body-small-line-height),
      label-text-size: var(--mat-sys-body-small-size),
      label-text-weight: 500,
      label-text-tracking: var(--mat-sys-body-small-tracking),
    )
  );
  [data-status='active'] {
    @include mat.chips-overrides(
      (
        elevated-container-color: var(--color-emerald-100),
        outline-color: var(--color-emerald-400),
        label-text-color: var(--color-emerald-800),
      )
    );
    .dark-theme & {
      @include mat.chips-overrides(
        (
          elevated-container-color: var(--color-emerald-800),
          outline-color: var(--color-emerald-600),
          label-text-color: var(--color-emerald-100),
        )
      );
    }
  }
  [data-status='inactive'] {
    @include mat.chips-overrides(
      (
        elevated-container-color: var(--color-red-100),
        outline-color: var(--color-red-300),
        label-text-color: var(--color-red-800),
      )
    );
    .dark-theme & {
      @include mat.chips-overrides(
        (
          elevated-container-color: var(--color-red-900),
          outline-color: var(--color-red-700),
          label-text-color: var(--color-red-100),
        )
      );
    }
  }
}
