<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update spark-area-charts/spark-area-chart-5`
-->

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3" role="list">
  @for (item of summary; track item.name) {
  <mat-card appearance="outlined" role="listitem">
    <mat-card-content>
      <div class="flex items-center justify-between space-x-4">
        <div class="truncate">
          <p
            class="truncate text-sm font-medium text-gray-900 dark:text-gray-50"
          >
            {{ item.name }}
          </p>
          <p
            [class]="getChangeColorClasses(item.changeType)"
            class="text-sm font-medium"
          >
            {{ item.change }}
          </p>
        </div>
        <div class="flex-none h-16 w-28">
          <canvas
            baseChart
            [data]="item.chartData"
            [options]="chartOptions"
            [type]="chartType"
          ></canvas>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  }
</div>
