<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update empty-states/empty-state-2`
-->

<div class="sm:mx-auto sm:max-w-lg p-4">
  <mat-card appearance="outlined" data-testid="empty-state-card">
    <mat-card-header>
      <mat-card-subtitle data-testid="card-subtitle"
        >Total API requests</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p class="text-4xl font-semibold mt-2" data-testid="request-count">0</p>
      <div
        class="mt-4 flex h-44 items-center justify-center rounded-lg bg-surface-container-low p-4"
        data-testid="container-low"
      >
        <div class="text-center">
          <mat-icon
            class="mx-auto [font-size:1.75rem]! size-[1em]! text-gray-600 dark:text-gray-400!"
            data-testid="chart-icon"
            >bar_chart</mat-icon
          >
          <p class="mt-2 text-base font-medium" data-testid="no-data-message">
            No data to show
          </p>
          <p
            class="text-sm text-gray-600 dark:text-gray-400"
            data-testid="info-message"
          >
            May take 24 hours for data to load
          </p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
