<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update free-fancy/words-album`
-->

<div
  class="size-full overflow-hidden bg-[#1f464d] text-[#1f464d]"
  #constraintsRef
>
  <ngm-dev-block-uidrag-elements class="p-40" [dragBoundary]="constraintsRef">
    <div
      *ngmDevBlockUiDragElement
      class="text-2xl md:text-6xl px-6 py-3 md:px-8 md:py-4 rounded-full bg-[#e794da] shadow-lg rotate-[-2deg] justify-center items-center whitespace-nowrap"
    >
      super fun ✿
    </div>
    <div
      *ngmDevBlockUiDragElement
      class="text-2xl md:text-6xl px-6 py-3 md:px-8 md:py-4 rounded-full bg-[#e794da] shadow-lg rotate-[2deg] justify-center items-center whitespace-nowrap"
    >
      funky time! ✴
    </div>
    <div
      *ngmDevBlockUiDragElement
      class="text-2xl md:text-6xl px-6 py-3 md:px-8 md:py-4 rounded-full bg-[#e794da] shadow-lg rotate-[-4deg] justify-center items-center whitespace-nowrap"
    >
      awesome ✺
    </div>
  </ngm-dev-block-uidrag-elements>
</div>
