<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update feature-sections/feature-section-3`
-->

<div class="mx-auto w-full max-w-6xl px-3 py-20" data-testid="feature-section">
  <dl class="grid grid-cols-4 gap-10" data-testid="features-container">
    @for (feature of features; track feature.title) {
    <div
      class="col-span-full sm:col-span-2 lg:col-span-1"
      data-testid="feature-item"
    >
      <span
        class="rounded-lg bg-violet-50/50 px-3 py-1.5 font-semibold leading-4 tracking-tighter shadow-sm shadow-violet-500/20 ring-1 ring-violet-200/20 dark:bg-violet-900/20 dark:ring-violet-800/30 sm:text-sm"
        data-testid="feature-title-badge"
      >
        <span
          class="bg-gradient-to-b from-violet-400 to-violet-600 bg-clip-text text-transparent dark:from-violet-200 dark:to-violet-400"
          data-testid="feature-title"
        >
          {{ feature.title }}
        </span>
      </span>
      <dt
        class="mt-6 font-semibold text-gray-900 dark:text-gray-50"
        data-testid="feature-subtitle"
      >
        {{ feature.subtitle }}
      </dt>
      <dd
        class="mt-2 leading-7 text-gray-600 dark:text-gray-400"
        data-testid="feature-description"
      >
        {{ feature.description }}
      </dd>
    </div>
    }
  </dl>
</div>
