<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update cta-sections/cta-section-5`
-->

<div class="bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">
    <div
      class="relative isolate overflow-hidden bg-gray-900 px-6 py-24 text-center shadow-2xl sm:rounded-3xl sm:px-16"
    >
      <h2
        class="mx-auto max-w-2xl text-3xl font-bold tracking-tight text-white sm:text-4xl"
      >
        Elevate your business to new heights
      </h2>
      <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-gray-300">
        Transform the way you work with our comprehensive suite of tools
        designed for modern teams. Experience seamless collaboration and
        unparalleled efficiency.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <button matButton="filled">Start now</button>
        <a matButton href="#" class="!text-white">
          Explore features <span aria-hidden="true">→</span>
        </a>
      </div>
      <svg
        viewBox="0 0 1024 1024"
        class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]"
        aria-hidden="true"
      >
        <circle
          cx="512"
          cy="512"
          r="512"
          fill="url(#circle-gradient)"
          fill-opacity="0.7"
        />
        <defs>
          <radialGradient id="circle-gradient">
            <stop stop-color="#7775D6" />
            <stop offset="1" stop-color="#E935C1" />
          </radialGradient>
        </defs>
      </svg>
    </div>
  </div>
</div>
