<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update feature-sections/feature-section-1`
-->

<div class="mx-auto w-full max-w-6xl px-3 py-20" data-testid="feature-section">
  <span
    class="z-10 block w-fit rounded-lg border border-violet-200/20 bg-violet-50/50 px-3 py-1.5 font-semibold uppercase leading-4 tracking-tighter dark:border-violet-800/30 dark:bg-violet-900/20 sm:text-sm"
    data-testid="feature-badge"
  >
    <span
      class="bg-gradient-to-b from-violet-500 to-violet-600 bg-clip-text text-transparent dark:from-violet-200 dark:to-violet-400"
    >
      Security at Scale
    </span>
  </span>

  <h2
    class="mt-2 text-4xl font-bold tracking-tighter sm:text-6xl"
    data-testid="feature-title"
  >
    Architected for speed and reliability
  </h2>

  <p
    class="mt-6 max-w-3xl text-lg leading-7 text-gray-600 dark:text-gray-400"
    data-testid="feature-description"
  >
    Database's innovative architecture avoids the central bottlenecks of
    traditional systems, enhancing system reliability. This design ensures high
    productivity and security, minimizing the risk of service disruptions and
    outages.
  </p>

  <dl
    class="mt-12 grid grid-cols-1 gap-y-8 border-y border-outline-variant py-14 md:grid-cols-3"
    data-testid="stats-container"
  >
    @for (stat of stats; track stat.name) {
    <div
      class="border-l-2 border-primary-container pl-6 text-center first:border-none"
      data-testid="stat-item"
    >
      <dd
        class="inline-block text-5xl font-bold tracking-tight text-primary lg:text-6xl"
        data-testid="stat-value"
      >
        {{ stat.value }}
      </dd>
      <dt class="mt-1 text-gray-600 dark:text-gray-400" data-testid="stat-name">
        {{ stat.name }}
      </dt>
    </div>
    }
  </dl>
</div>
