<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update page-shells/page-shell-4`
-->

<div class="p-4 sm:p-6 lg:p-8">
  <header>
    <div class="flex items-center justify-between">
      <h3 class="text-xl font-semibold">Report</h3>
      <button matButton="elevated">
        <mat-icon>add</mat-icon>
        Add report
      </button>
    </div>
    <mat-form-field class="mt-4 w-full sm:max-w-sm">
      <input
        matInput
        [(ngModel)]="searchQuery"
        placeholder="Search reports..."
      />
    </mat-form-field>
  </header>
  <main>
    <mat-accordion class="mt-6" multi>
      <mat-expansion-panel
        [expanded]="recentExpanded()"
        (opened)="recentExpanded.set(true)"
        (closed)="recentExpanded.set(false)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title
            class="text-base font-medium text-gray-600 dark:text-gray-400"
          >
            Recent (3)
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="grid grid-cols-1 gap-4 pb-1 sm:grid-cols-2 lg:grid-cols-3">
          @for (item of recentReports; track item.id) {
          <mat-card appearance="outlined" class="relative p-2">
            <div class="h-20">
              <ngm-dev-block-content-placeholder-shell4
                [patternId]="'pattern-' + item.id"
              />
            </div>
            <h3 class="mt-2 text-base font-medium">
              <a [href]="item.href" class="focus:outline-none">
                <!-- Extend link to entire card -->
                <span class="absolute inset-0" aria-hidden="true"></span>
                {{ item.name }}
              </a>
            </h3>
            <p class="text-sm text-gray-600 dark:text-gray-400">
              {{ item.description }}
            </p>
          </mat-card>
          }
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel
        class="mt-6"
        [expanded]="allExpanded()"
        (opened)="allExpanded.set(true)"
        (closed)="allExpanded.set(false)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title
            class="text-base font-medium text-gray-600 dark:text-gray-400"
          >
            All (6)
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="grid grid-cols-1 gap-4 pb-1 sm:grid-cols-2 lg:grid-cols-3">
          @for (item of reportData; track item.id) {
          <mat-card appearance="outlined" class="relative p-2">
            <div class="h-20">
              <ngm-dev-block-content-placeholder-shell4
                [patternId]="'pattern-' + item.id"
              />
            </div>
            <h3 class="mt-2 text-base font-medium">
              <a [href]="item.href" class="focus:outline-none">
                <span class="absolute inset-0" aria-hidden="true"></span>
                {{ item.name }}
              </a>
            </h3>
            <p class="text-sm text-gray-600 dark:text-gray-400">
              {{ item.description }}
            </p>
          </mat-card>
          }
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </main>
</div>
