<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update newsletter-sections/newsletter-section-1`
-->

<div class="bg-white dark:bg-gray-900">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2
        class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-white"
      >
        Stay in the loop
      </h2>
      <p
        class="mx-auto mt-6 max-w-xl text-lg leading-8 text-gray-600 dark:text-gray-400"
      >
        Subscribe to our newsletter and be the first to know about product
        updates, industry insights, and exclusive offers delivered straight to
        your inbox.
      </p>
      <div class="mt-10 flex flex-col gap-4 sm:flex-row sm:justify-center">
        <mat-form-field class="w-full sm:w-80">
          <mat-label>Email address</mat-label>
          <input matInput type="email" placeholder="you{'@'}example.com" />
        </mat-form-field>
        <button matButton="filled" class="sm:mt-4">Subscribe</button>
      </div>
      <p class="mt-4 text-sm leading-6 text-gray-500 dark:text-gray-400">
        We care about your privacy. Read our
        <a href="#" class="font-semibold text-primary hover:text-primary/80">
          privacy&nbsp;policy </a
        >.
      </p>
    </div>
  </div>
</div>
