<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update pricing-sections/pricing-section-4`
-->

<div class="grid grid-cols-1 gap-6 md:grid-cols-3 max-w-7xl mx-auto p-4 md:p-6">
  @for (plan of plans; track plan.name) {
  <mat-card
    [appearance]="plan.isRecommended ? 'outlined' : 'raised'"
    class="rounded-none! border-t-4!"
    [class]="
        plan.isRecommended ? 'border-primary!' : 'border-outline-variant!'
      "
  >
    <mat-card-header>
      <mat-card-title>
        {{ plan.name }} @if (plan.isRecommended) {
        <span class="text-xs font-medium text-primary absolute top-4 right-4">
          Recommended
        </span>
        }
      </mat-card-title>
      <mat-card-subtitle> {{ plan.description }} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="mt-6 flex items-baseline">
        <span class="text-4xl font-semibold"> {{ plan.price }} </span>
        @if (!plan.isEnterprise) {
        <span class="text-gray-600 dark:text-gray-400"> /mo </span>
        }
      </p>
      <div class="mt-8">
        @if (!plan.isRecommended) {
        <a [href]="plan.buttonLink" matButton="outlined" class="w-full">
          {{ plan.buttonText }}
        </a>
        } @else {
        <a [href]="plan.buttonLink" matButton="filled" class="w-full">
          {{ plan.buttonText }}
        </a>
        }
        <p class="mt-6 font-medium">Included:</p>
        <mat-list>
          @for (feature of plan.features; track feature) {
          <mat-list-item>
            <mat-icon
              matListItemIcon
              class="icon-filled"
              [class]="plan.isRecommended ? 'text-primary!' : ''"
            >
              check_circle
            </mat-icon>
            <span matListItemTitle>{{ feature }}</span>
          </mat-list-item>
          }
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>
  }
</div>
