<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update filterbar/filterbar-8`
-->

<div class="relative p-4">
  <div
    class="flex h-48 flex-wrap items-start gap-x-4 rounded-corner-medium border border-outline-variant p-6 shadow-sm"
  >
    <!-- Sorting select -->
    <mat-form-field appearance="outline" class="w-full sm:w-85">
      <mat-select [(ngModel)]="sorting">
        <mat-select-trigger>
          <div class="relative pl-8 flex items-center justify-between pr-2">
            <mat-icon class="absolute! top-1 left-0">swap_vert</mat-icon>
            <span>Sorted by</span>
            <span
              class="rounded bg-primary-container px-2 py-1 text-sm font-semibold text-on-primary-container overflow-hidden text-ellipsis"
            >
              {{ selectedSortingLabel }}
            </span>
          </div>
        </mat-select-trigger>

        @for (option of sortingOptions; track option.value) {
        <mat-option [value]="option.value">
          <div class="flex justify-between items-baseline gap-x-2">
            <span>{{ option.label }}</span>
            @if (option.hint) {
            <span class="text-xs text-gray-600 dark:text-gray-400"
              >{{ option.hint }}</span
            >
            }
          </div>
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Date filter select -->
    <mat-form-field appearance="outline" class="w-full sm:w-60">
      <mat-select [(ngModel)]="dateFilter" canSelectNullableOptions>
        <mat-select-trigger>
          <div class="relative pl-8 flex items-center justify-between pr-2">
            <mat-icon class="absolute! left-0 top-1">schedule</mat-icon>
            @if (selectedDateFilterLabel) {
            <span>Last</span>
            <span
              class="rounded bg-primary-container px-2 py-1 text-sm font-semibold text-on-primary-container"
            >
              {{ selectedDateFilterLabel }}
            </span>
            } @else {
            <span>Provide</span>
            <span
              class="rounded bg-primary-container px-2 py-1 text-sm font-semibold text-on-primary-container"
            >
              Custom date
            </span>
            }
          </div>
        </mat-select-trigger>

        @for (option of dateFilterOptions; track option.value) {
        <mat-option [value]="option.value"> {{ option.label }} </mat-option>
        }

        <mat-divider class="border-outline-variant!" />
        <mat-option [value]="null">
          <mat-icon>add</mat-icon>
          <span>Custom date</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- gradient for demo purpose -->
  <div
    class="absolute inset-x-0 bottom-0 -mb-1 h-14 rounded-b-corner-medium bg-gradient-to-t from-surface via-surface to-transparent"
  ></div>
</div>
