<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update chart-tooltips/chart-tooltip-8`
-->

<div class="mx-auto max-w-7xl">
  <div class="flex justify-center mb-12">
    <div
      class="bg-surface rounded-md border border-outline-variant shadow-sm min-w-56 px-3"
    >
      <div class="flex items-center justify-between py-2 text-body-medium">
        <span class="font-medium">Status</span>
        <span class="text-gray-500 dark:text-gray-400">Oct 5</span>
      </div>
      <mat-divider class="border-outline-variant! mb-2!" />
      <div class="pb-2 space-y-2">
        <div class="flex items-center gap-x-2 text-body-small">
          <span
            class="size-3 rounded-full border border-2 border-blue-500"
          ></span>
          <div class="flex w-full items-center justify-between">
            <span class="text-gray-500 dark:text-gray-400">completed</span>
            <span class="flex items-center gap-x-1">
              <span class="font-medium">24</span>
              <span class="text-gray-500">(13.79%)</span>
            </span>
          </div>
        </div>
        <div class="flex items-center gap-x-2 text-body-small">
          <span
            class="size-3 rounded-full border border-2 border-yellow-500"
          ></span>
          <div class="flex w-full items-center justify-between">
            <span class="text-gray-500 dark:text-gray-400">in progress</span>
            <span class="flex items-center gap-x-1">
              <span class="font-medium">54</span>
              <span class="text-gray-500">(31.03%)</span>
            </span>
          </div>
        </div>
        <div class="flex items-center gap-x-2 text-body-small">
          <span
            class="size-3 rounded-full border border-2 border-gray-500"
          ></span>
          <div class="flex w-full items-center justify-between">
            <span class="text-gray-500 dark:text-gray-400">on hold</span>
            <span class="flex items-center gap-x-1">
              <span class="font-medium">96</span>
              <span class="text-gray-500">(55.17%)</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center items-center mb-12 gap-x-2">
    <div class="border-t border-outline-variant grow"></div>
    <button matButton="tonal" (click)="toggleDemo()">
      {{ showDemo() ? 'Hide Demo' : 'Show Demo' }}
    </button>
    <div class="border-t border-outline-variant grow"></div>
  </div>

  @if (showDemo()) {
  <div class="mt-6 h-72 relative" #chartImage>
    <div
      #tooltipElement
      [class]="
          'bg-surface rounded-md border border-outline-variant shadow-sm pointer-events-none min-w-56 absolute left-0 top-1 transition-all z-3 px-3 ' +
          (tooltip?.opacity === 1 ? 'opacity-100' : 'opacity-0')
        "
      [style.transform]="
          getTooltipTransform(
            tooltip?.caretX ?? 0,
            tooltipElement.offsetWidth,
            chartImage.offsetWidth
          )
        "
    >
      <div class="flex items-center justify-between py-2 text-body-medium">
        <span class="font-medium">Status</span>
        <span class="text-gray-500 dark:text-gray-400"
          >{{ tooltip?.title?.[0] }}</span
        >
      </div>
      <mat-divider class="border-outline-variant! mb-2!" />
      <div class="pb-2 space-y-2">
        @for ( point of tooltip?.dataPoints; track point.datasetIndex; let i =
        $index ) {
        <div class="flex items-center gap-x-2 text-body-small">
          <span
            class="size-3 rounded-full border border-2"
            [style.border-color]="
                  tooltip?.labelColors?.[i]?.borderColor?.toString()
                "
          ></span>
          <div class="flex w-full items-center justify-between">
            <span class="text-gray-500 dark:text-gray-400"
              >{{ point?.dataset?.label }}</span
            >
            <span class="flex items-center gap-x-1">
              <span class="font-medium">{{ point?.raw }}</span>
              <span class="text-gray-500"
                >({{ getPercentage(point?.raw, tooltip?.dataPoints) }}%)</span
              >
            </span>
          </div>
        </div>
        }
      </div>
    </div>
    <canvas
      class="z-2 relative"
      baseChart
      [data]="chartData"
      [options]="chartOptions"
      [type]="chartType"
    ></canvas>
  </div>
  }
</div>
