<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update filterbar/filterbar-11`
-->

<div class="relative p-4" [formGroup]="filterForm">
  <div
    class="rounded-md border border-outline-variant bg-surface pb-20 shadow-sm md:h-52"
  >
    <div
      class="grid grid-cols-1 gap-4 border-b border-outline-variant p-6 sm:grid-cols-2 md:grid-cols-4"
    >
      <!-- Date Range -->
      <div class="w-full">
        <label
          for="date_range"
          class="text-sm font-medium text-gray-600 dark:text-gray-400"
        >
          Date
        </label>
        <div class="mt-2 flex gap-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-date-range-input [rangePicker]="picker">
              <input
                matStartDate
                formControlName="startDate"
                placeholder="Start date"
              />
              <input
                matEndDate
                formControlName="endDate"
                placeholder="End date"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker" />
            <mat-date-range-picker #picker />
          </mat-form-field>
        </div>
      </div>

      <!-- Country -->
      <div class="w-full">
        <label
          for="country"
          class="text-sm font-medium text-gray-600 dark:text-gray-400"
        >
          Country
        </label>
        <mat-form-field appearance="outline" class="mt-2 w-full">
          <mat-select formControlName="country">
            @for (country of countries; track country.value) {
            <mat-option [value]="country.value">
              {{ country.label }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Status -->
      <div class="w-full">
        <label
          for="status"
          class="text-sm font-medium text-gray-600 dark:text-gray-400"
        >
          Status
        </label>
        <mat-form-field appearance="outline" class="mt-2 w-full">
          <mat-select formControlName="status">
            @for (status of statuses; track status.value) {
            <mat-option [value]="status.value">
              <div class="flex items-center gap-x-2.5">
                <span
                  class="inline-block size-2.5 shrink-0 rounded-full"
                  [class.bg-green-600]="status.value === 'completed'"
                  [class.bg-gray-400]="status.value === 'processing'"
                  [class.bg-red-500]="status.value === 'failed'"
                  [class.bg-purple-500]="status.value === 'refund-requested'"
                  aria-hidden="true"
                >
                </span>
                {{ status.label }}
              </div>
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Payment Method -->
      <div class="w-full">
        <label
          for="payment"
          class="text-sm font-medium text-gray-600 dark:text-gray-400"
        >
          Payment method
        </label>
        <mat-form-field appearance="outline" class="mt-2 w-full">
          <mat-select formControlName="paymentMethod">
            <mat-select-trigger>
              <div
                class="relative"
                [class.pl-8]="getSelectedPaymentMethod().icon"
              >
                @if (getSelectedPaymentMethod().icon) {
                <mat-icon class="absolute left-0 top-0" aria-hidden="true">
                  {{ getSelectedPaymentMethod().icon }}
                </mat-icon>
                } {{ getSelectedPaymentMethod().label }}
              </div>
            </mat-select-trigger>
            @for (method of paymentMethods; track method.value) {
            <mat-option [value]="method.value" [disabled]="method.disabled">
              @if (method.icon) {
              <mat-icon aria-hidden="true"> {{ method.icon }} </mat-icon>
              } {{ method.label }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <!-- gradient for demo purpose -->
  <div
    class="absolute inset-x-0 bottom-0 -mb-1 h-14 rounded-b-md bg-gradient-to-t from-surface via-surface to-transparent"
  ></div>
</div>
