/*
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update badges/badge-11`
*/

@use '@angular/material' as mat;

:host {
  @include mat.chips-overrides(
    (
      label-text-line-height: normal,
      label-text-color: currentColor,
      outline-color: transparent,
      with-icon-icon-color: currentColor,
    )
  );
}
