<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update line-charts/line-chart-3`
-->

<div class="mx-auto max-w-lg">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-subtitle> Revenue </mat-card-subtitle>
      <mat-card-title class="font-medium! text-display-small!"
        >{{ getFormattedValue({ value: 927100, skipPostfix: true })
        }}</mat-card-title
      >
    </mat-card-header>

    <mat-card-content>
      <!-- Desktop Chart -->
      <div class="mt-5 h-48 relative" #chartImageDesktop>
        <!-- tooltip -->
        <div
          #tooltipElementDesktop
          [class]="
            'bg-surface rounded-md border border-outline-variant shadow-sm pointer-events-none min-w-40 absolute left-0 top-1 transition-opacity z-3 ' +
            (tooltip?.opacity === 1 ? 'opacity-100' : 'opacity-0')
          "
          [style.transform]="
            getTooltipTransform(
              tooltip?.caretX ?? 0,
              tooltipElementDesktop.offsetWidth,
              chartImageDesktop.offsetWidth
            )
          "
        >
          <h3 class="text-body-large font-medium my-2 px-3">
            {{ tooltip?.title?.[0] }}
          </h3>
          <mat-divider class="border-outline-variant!" />
          <div class="p-3">
            @for (item of tooltip?.dataPoints; track item; let i = $index) {
            <div class="flex items-center w-full justify-between gap-x-2">
              <div class="flex items-center space-x-2">
                <span
                  class="h-1 w-3 shrink-0 rounded-sm"
                  [style.background]="
                      tooltip?.labelColors?.[i]?.borderColor?.toString()
                    "
                  aria-hidden="true"
                ></span>
                <span class="text-body-medium">{{ item?.dataset?.label }}</span>
              </div>
              <span class="text-body-medium font-medium text-right"
                >{{ getFormattedValue({ value: item?.raw, skipPostfix: false })
                }}</span
              >
            </div>
            }
          </div>
        </div>

        <canvas
          class="z-2 relative"
          baseChart
          [data]="chartData"
          [options]="chartOptions"
          [plugins]="chartPlugins"
          [type]="chartType"
        ></canvas>
      </div>

      <mat-list class="mt-4">
        @for (item of summary; track item.location; let last = $last) {
        <mat-list-item>
          <div matListItemTitle>
            <div class="flex w-full justify-between items-center">
              <div class="flex items-center space-x-2">
                <span
                  aria-hidden="true"
                  class="h-1 w-3 rounded-sm"
                  [style.background]="item.color"
                ></span>
                <span class="text-body-medium">{{ item.location }}</span>
                <span
                  class="text-label-small bg-gray-100 dark:bg-gray-800 rounded-md px-1.5 py-0.5"
                  >{{ item.type }}</span
                >
              </div>
              <span
                class="text-body-medium"
                [class]="
                    item.changeType === 'positive'
                      ? 'text-emerald-700 dark:text-emerald-500'
                      : 'text-red-700 dark:text-red-500'
                  "
                >{{ item.change }}</span
              >
            </div>
          </div>
          <div matListItemLine>
            <div class="flex w-full justify-between items-center text-gray-500">
              <span class="text-body-small font-body-small"
                >{{ item.address }}</span
              >
              <span class="text-body-small font-body-small"
                >{{ getFormattedValue({ value: item.total, skipPostfix: false })
                }}</span
              >
            </div>
          </div>
        </mat-list-item>
        @if (!last) {
        <mat-divider class="border-outline-variant!" />
        } }
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
