<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update kpi-cards/kpi-card-07`
-->

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
  @for (item of data; track item.name) {
  <mat-card appearance="outlined">
    <mat-card-content>
      <div class="flex items-center justify-between space-x-4">
        <div class="text-sm font-medium">{{ item.name }}</div>
        <div
          [class]="
              item.changeType === 'positive'
                ? 'bg-emerald-100 text-emerald-800 ring-emerald-600/10 dark:bg-emerald-400/10 dark:text-emerald-500 dark:ring-emerald-400/20'
                : 'bg-red-100 text-red-800 ring-red-600/10 dark:bg-red-400/10 dark:text-red-500 dark:ring-red-400/20'
            "
          class="inline-flex items-center rounded-md px-2 py-0.5 text-xs font-medium ring-1 ring-inset"
        >
          {{ item.change }}
        </div>
      </div>
      <div class="flex items-baseline space-x-3">
        <p class="text-3xl font-semibold">{{ item.stat }}</p>
        <p class="text-sm">from {{ item.previousStat }}</p>
      </div>
    </mat-card-content>
  </mat-card>
  }
</div>
