<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update spark-area-charts/spark-area-chart-2`
-->

<div class="sm:mx-auto sm:max-w-md">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-subtitle>Portfolio</mat-card-subtitle>
      <mat-card-title class="text-display-small! font-display-small!"
        >$78,432.90</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <p class="mt-1 text-sm font-medium">
        <span class="text-emerald-700 dark:text-emerald-500">
          +$687.45 (0.9%)
        </span>
        <span class="font-normal text-gray-500 dark:text-gray-500 ml-1">
          Today
        </span>
      </p>
      <mat-list class="mt-8">
        @for (item of summary; track item.ticker) {
        <mat-list-item class="px-0!">
          <div class="flex items-center justify-between space-x-6">
            <div class="truncate">
              <p
                class="truncate text-sm font-medium text-gray-900 dark:text-gray-50"
              >
                {{ item.ticker }}
              </p>
              <p class="truncate text-xs text-gray-500 dark:text-gray-500">
                {{ item.description }}
              </p>
            </div>
            <div class="flex items-center space-x-4">
              <div class="h-10 w-32 flex-none sm:w-44" #chartContainer>
                <canvas
                  baseChart
                  [data]="item.chartData"
                  [options]="chartOptions"
                  [type]="chartType"
                ></canvas>
              </div>
              <div class="w-14 text-right sm:w-16">
                <p class="text-sm font-medium text-gray-900 dark:text-gray-50">
                  {{ item.value }}
                </p>
                <p
                  [class]="getChangeColorClasses(item.changeType)"
                  class="text-xs font-medium"
                >
                  {{ item.change }}
                </p>
              </div>
            </div>
          </div>
        </mat-list-item>
        }
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
