<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update chart-compositions/chart-composition-1`
-->

<div class="mx-auto max-w-7xl">
  <div class="p-6">
    <!-- Header Section -->
    <div class="mb-6">
      <h3 class="text-sm text-gray-600 dark:text-gray-400">
        {{ headerData.title }}
      </h3>
      <p class="mt-1 text-3xl font-semibold">{{ headerData.totalValue }}</p>
      <p class="mt-1 text-sm font-medium">
        <span
          [class]="
            headerData.changeType === 'positive'
              ? 'text-emerald-700 dark:text-emerald-500'
              : 'text-red-700 dark:text-red-500'
          "
        >
          {{ headerData.change }} ({{ headerData.changePercentage }})
        </span>
        <span class="font-normal text-gray-600 dark:text-gray-400 ml-1">
          {{ headerData.period }}
        </span>
      </p>
    </div>

    <!-- Line Chart -->
    <div class="h-96 hidden sm:block relative" #chartImageDesktop>
      <!-- Tooltip -->
      <div
        #tooltipElementDesktop
        [class]="
          'bg-surface rounded-md border border-outline-variant shadow-sm pointer-events-none min-w-72 absolute left-0 top-1 transition-opacity z-3 ' +
          (tooltip?.opacity === 1 ? 'opacity-100' : 'opacity-0')
        "
        [style.transform]="
          getTooltipTransform(
            tooltip?.caretX ?? 0,
            tooltipElementDesktop.offsetWidth,
            chartImageDesktop.offsetWidth
          )
        "
      >
        <h3 class="text-body-large font-medium my-2 px-3">
          {{ tooltip?.title?.[0] }}
        </h3>
        <mat-divider class="border-outline-variant!" />
        <div class="p-3">
          @for (item of tooltip?.dataPoints; track item; let j = $index) {
          <div class="flex items-center w-full justify-between gap-x-2">
            <div class="flex items-center space-x-2">
              <span
                class="h-1 w-3 shrink-0 rounded-sm"
                [style.background]="
                    tooltip?.labelColors?.[j]?.borderColor?.toString()
                  "
                aria-hidden="true"
              ></span>
              <span class="text-body-medium">{{ item?.dataset?.label }}</span>
            </div>
            <span class="text-body-medium font-medium text-right"
              >{{ formatCurrency({ value: item?.raw }) }}</span
            >
          </div>
          }
        </div>
      </div>
      <canvas
        baseChart
        [data]="chartData"
        [options]="chartOptions"
        [plugins]="chartPlugins"
        [type]="chartType"
      >
      </canvas>
    </div>

    <!-- Mobile Chart -->
    <div class="h-72 sm:hidden relative">
      <canvas
        baseChart
        [data]="chartData"
        [options]="mobileChartOptions"
        [plugins]="chartPlugins"
        [type]="chartType"
      >
      </canvas>
    </div>

    <!-- Summary Table -->
    <div class="mt-8 overflow-x-auto">
      <table mat-table [dataSource]="summary">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="text-left font-medium min-w-[200px]!"
          >
            Name
          </th>
          <td
            mat-cell
            *matCellDef="let item"
            class="font-medium min-w-[200px]!"
          >
            <div class="flex items-center space-x-3">
              <span
                [class]="'w-1 h-4 shrink-0 rounded ' + item.bgColor"
                aria-hidden="true"
              >
              </span>
              <span>{{ item.name }}</span>
            </div>
          </td>
        </ng-container>

        <!-- Value Column -->
        <ng-container matColumnDef="value">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="text-right font-medium min-w-[150px]!"
          >
            Value
          </th>
          <td mat-cell *matCellDef="let item" class="text-right min-w-[150px]!">
            {{ item.value }}
          </td>
        </ng-container>

        <!-- Invested Column -->
        <ng-container matColumnDef="invested">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="text-right font-medium min-w-[150px]!"
          >
            Invested
          </th>
          <td mat-cell *matCellDef="let item" class="text-right min-w-[150px]!">
            {{ item.invested }}
          </td>
        </ng-container>

        <!-- Cashflow Column -->
        <ng-container matColumnDef="cashflow">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="text-right font-medium min-w-[150px]!"
          >
            Cashflow
          </th>
          <td mat-cell *matCellDef="let item" class="text-right min-w-[150px]!">
            {{ item.cashflow }}
          </td>
        </ng-container>

        <!-- Gain Column -->
        <ng-container matColumnDef="gain">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="text-right font-medium min-w-[150px]!"
          >
            Gain
          </th>
          <td mat-cell *matCellDef="let item" class="text-right min-w-[150px]!">
            <span
              [class]="
                item.changeType === 'positive'
                  ? 'text-emerald-700 dark:text-emerald-500'
                  : 'text-red-700 dark:text-red-500'
              "
            >
              {{ item.gain }}
            </span>
          </td>
        </ng-container>

        <!-- Realized Column -->
        <ng-container matColumnDef="realized">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="text-right font-medium min-w-[150px]!"
          >
            Realized
          </th>
          <td mat-cell *matCellDef="let item" class="text-right min-w-[150px]!">
            <span
              [class]="
                item.changeType === 'positive'
                  ? 'text-emerald-700 dark:text-emerald-500'
                  : 'text-red-700 dark:text-red-500'
              "
            >
              {{ item.realized }}
            </span>
          </td>
        </ng-container>

        <!-- Dividends Column -->
        <ng-container matColumnDef="dividends">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="text-right font-medium min-w-[150px]!"
          >
            Dividends
          </th>
          <td mat-cell *matCellDef="let item" class="text-right min-w-[150px]!">
            <span
              [class]="
                item.changeType === 'positive'
                  ? 'text-emerald-700 dark:text-emerald-500'
                  : 'text-red-700 dark:text-red-500'
              "
            >
              {{ item.dividends }}
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
