<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update section-headings/section-heading-8`
-->

<div class="p-6">
  <div class="pb-4 mb-6 relative">
    <h3 class="text-title-large font-medium absolute top-2 left-0">
      {{ title }}
    </h3>
    <mat-tab-group
      fitInkBarToContent
      mat-stretch-tabs="false"
      mat-align-tabs="start"
    >
      <mat-tab label="Open" labelClass="ml-20" />
      <mat-tab label="Closed" />
    </mat-tab-group>
  </div>
</div>
