<!--
	Installed from https://ui.angular-material.dev/
	Update this file using `npx @ngm-dev/cli update section-headings/section-heading-4`
-->

<div class="p-6">
  <div
    class="border-b border-outline-variant pb-4 mb-6 flex gap-4 sm:gap-0 justify-start sm:justify-between items-start sm:items-center flex-col sm:flex-row"
  >
    <h3 class="text-title-large font-medium">{{ title }}</h3>
    <div class="flex items-center gap-2">
      <button matButton="filled">Create new job</button>
    </div>
  </div>
</div>
